[Desktop Entry]
Name=Star Citizen Deutsch Launcher
Comment=Launcher für Star Citizen Übersetzungen
Exec=/home/marko/Dokumente/GitHub/StarCitizen-Deutsch-Launcher/release/StarCitizen-Launcher
Icon=/home/marko/Dokumente/GitHub/StarCitizen-Deutsch-Launcher/release/resources/logo.png
Path=/home/marko/Dokumente/GitHub/StarCitizen-Deutsch-Launcher/release
Type=Application
Terminal=false
StartupNotify=true
StartupWMClass=StarCitizenLauncher
Categories=Game;Utility;
